<!-- ngModel is A way to bind inputs to a form -->
<!-- Add pattern with regex -->

<main class="container" style="margin-top: 20%;">
    <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
        <fieldset class="mb-3">
            <label for="username" class="form-label">Username *</label>
            <input type="text" 
                name="username"
                ngModel  
                #username="ngModel"
                placeholder="Ash Ketchum" 
                class="form-control"
                required
                minlength = "3"
                maxlength= "35"
                />
        </fieldset>

        <div id="usernameErrors" 
            class="alert alert-danger"
            *ngIf="username.invalid && (username.touched || username.dirty)">

            <div *ngIf="username.errors">
                <p class="mb-0" *ngIf="username.errors['required']">Username is required</p>
                <p class="mb-0" *ngIf="username.errors['minlength']">Username is too short (3)</p>
            </div>
            
        </div>
        <button 
            type="submit" 
            class="btn btn-danger"
            [disabled]="loginForm.invalid">Login</button>
       

    </form>
</main>
