/* You can add global styles to this file, and also import other style files */

body{
    background-image: linear-gradient(to right, #6A11CB 0%, #2575FC 100%);
    color: aliceblue;
    font-family: "Inconsolata", monospace;
    line-height: 1.4;
}