
.pokemon-list {
  list-style: none;
  padding: 1rem;
  align-items: center;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 2rem;
}

.image{
  text-align: center;
}


img {
    width: 150px;
    height: 150px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  border: 1px solid white;
}

.mt-auto {
  margin-top: auto;
}

.btn{
  margin: 20px;
}

.ball{
  width: 30px;
  height: 30px;
  margin-left: 40%;
} 