<ul class="pokemon-list" >
    <div *ngFor="let pokemon of pokemons">
        <div class="flex flex-column">

        <article class="image">
            <img [src]=makeImgUrl(pokemon) alt="pokemon.name" />
        </article>

        <div *ngIf="pokemon.caught" >
            <img class="ball" src="../../../../assets/ball.png"/>
        </div> 
        
        <button class="btn btn-danger" (click)="onPokemonClick(pokemon)">
            Catch {{ pokemon.name }}!
        </button>
        
        </div>
    </div>
</ul>
