<main class="container">
    <h1>Pokédex</h1>
    <p>Welcome back, Pokémon trainer {{ username }}. Try and catch some pokémon.</p>
    <app-pokemon-list 
        [pokemons]="pokemons"
        (caught)="onCaught($event)"
        >
    </app-pokemon-list>
    
</main>


