<main  class="container" >
    <h1>Trainer page</h1>
    <p>This is the Pokémons you have caught, {{username}} </p>
    <app-trainer-list
        [pokemon]="pokemon"
        (freeThePokemon) = "onFree($event)"
        >
    </app-trainer-list>

</main>