
<div class="flex flex-column">

  <nav class="toppBar" *ngIf="username !== '' ">
    <div class="header">
      Gotta Catch 'Em All {{ username }}
    </div>
    <div class="theButtons">
      <button class="btn btn-danger" (click)="pokedex()" type="button">Pokèdex</button>
      <button class="btn btn-danger" (click)="trainer()" type="button">Trainer</button>
      <button class="btn btn-danger" (click)="logout()" type="button" >Log Out</button>
    </div>
  </nav>
  
  <router-outlet>  </router-outlet>
  
  <footer class="mt-auto">
    Made by Line & Sebastian &trade;
  </footer>


</div>