
.toppBar{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.theButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding-right: 2em;
    padding-top: 5px;
}



.flex {
    display: flex;
}

.flex-column {
    height: 100vh;
    flex-direction: column;
}

.mt-auto {
    margin-top: auto;
    position: sticky;
    padding-top: 20px;
    padding-left: 15px;
}

.main{
    padding-top: 10px;

}

.header{
    margin-top: 10px;
    margin-left: 15px;
}