
<ul class="trainer-list">
    <div *ngFor="let pokemon of pokemon">

        <div class="flex flex-column">

            <article class="image">
                <img [src]=makeImgUrl(pokemon) alt="pokemon" />
            </article>
    
           
            <button class="btn btn-danger"
            (click)="onPokemonClickDelete(pokemon)">
                Free {{ pokemon }}!
            </button>

        </div>

    </div>
</ul>